body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #240f03;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #bd7a22;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

#icone{
  width: 320px;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.titulo {
  color: #bd7a22;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}
/*--------------------------------------------------------------------------------------------------------------*/
.banner {
  height: var(--tamanho-banner);
  width: 100%;
  background: linear-gradient(transparent 5%, #151616  95%), url('../assets/imgs/banner2.jpg');
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  font-size: 36px;
  color: white;
  width: 280px;
}

.banner .container span {
  font-weight: 800;
}

.social {
  background-color: #7a553e;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
 
}

.social .container .boxes {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box {
  width: 280px;
  background-color: whitesmoke;
  border-radius: 35px;
  padding: 8px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box p {
  text-align: center;
}

.footer {
  height: var(--tamanho-footer);
  width: 100%;
  background-color: #240f03;
  color: #fff;
}

.footer h4 {
  margin: 0;
  text-align: center;
}

.footer .container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.footer .container .version {
  font-size: 12px;
  font-weight: 800;
}

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  width: 100%;
  height: var(--tamanho-simulador);
}